<div class="row align-items-center">
  <div class="col-md-6">
    <h2 class="mb-3">About Me</h2>
    <p>Hi there! Welcome to my portfolio, I’m Amanda Ahanonu, a Networking & IT Security student at Ontario Tech University. I enjoy building secure networks, cloud labs, and empowering girls in Nigeria through TPSF. I’m a Networking & IT Security student at Ontario Tech focused on cloud architecture and cybersecurity.
I also founded The Pink Sun Empowerment Foundation (TPSF) to advance girls’ education, menstrual health, and mentorship in Nigeria.
With Oracle Cloud Infrastructure and ongoing Azure training, I love to blend UX/UI and customer success experience to build practical tech solutions.
I also love creating community impact through programs and empowerment schemes that deliver real impact.</p>
    <ul>
      <li>Certifications: Agile Project Management, Oracle Cloud Infrastucture Foundations, and Azure Fundamentals</li>
      <li>Interests: Cloud Consulting, Cybersecurity, Product Management, Project Management</li>
      <li>Founder: The Pink Sun Empowerment Foundation (TPSF) - A foundation that caters towards underprivileged girls in Nigeria through education, health advocacy and empowerment.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="p-4 bg-light rounded-4">
      <h5 class="mb-2"><i class="fa-solid fa-trophy"></i> Highlights</h5>
      <p class="mb-0">Founder & CEO, The Pink Sun Empowerment Foundation | Expert in customer success to enable user-centric tech solutions and clear stakeholder communication </p>
    </div>
  </div>
</div>
