<section class="hero text-center">
  <h1 class="display-5 fw-bold mb-3"> Networking & IT Security Student @ Ontario Tech University| Non-Profit Founder  </h1>
  <p class="lead">Cloud-curious • Cybersecurity • NGO Leader. I love to design and build projects that actually help people and make a difference. Welcome to my world!</p>
  <a href="/projects" class="btn btn-primary btn-lg mt-3"><i class="fa-solid fa-code"></i> View Projects</a>
</section>
